<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425303636185-7qk2ueru34c12l5shqp353agbc3miint.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425303636185-7qk2ueru34c12l5shqp353agbc3miint</string>
	<key>API_KEY</key>
	<string>AIzaSyCKBZiS-zj6tkdpH8ZW_qBVQG4qkzBd3D4</string>
	<key>GCM_SENDER_ID</key>
	<string>425303636185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Chpmunki.Chpmunk</string>
	<key>PROJECT_ID</key>
	<string>chpmuck</string>
	<key>STORAGE_BUCKET</key>
	<string>chpmuck.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425303636185:ios:0a0129e8769593ba</string>
	<key>DATABASE_URL</key>
	<string>https://chpmuck.firebaseio.com</string>
</dict>
</plist>